.card{
    position: relative;
    display: flex;
    background-color: #eeeeee;
    width: 120px;
    height: 180px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    padding:5px;
    //border: 0.5px solid #010203;
    color: white;
    font-family: 'Oswald';
    font-size: 2rem;
    margin: 10px;

    .top{
        position: absolute;
        top: .5rem;
        left: .5rem;
    }
    .middle{
        font-size: 5rem;
    }
    .bottom{
        position: absolute;
        bottom: .5rem;
        right: .5rem;
        transform:rotate(180deg);
    }

}
.red{
    color: crimson;

}
.black{
    color:#222121;
}