.App {
  text-align: center;
  background-color: #222121;
  color: #fff;
  padding: 10px;
}
button {
  width:300px;
  height: 50px;
  border: none;
  border-radius: 30px;
  background-color: rgba(54, 95, 230, 0.753);
  color: #fff;
  font-size: 24px;
  cursor: pointer;

}

button:hover{
  background-image: linear-gradient(to right, #dc143c, #d72f86, #ae5dbe, #6a7ed9, #0093d5);
}

 .DecksAligned{
   display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
   margin: 15px;
   align-items: center;
   justify-content: center;
   padding: 10px;
   background-color: #4E6A54;
 }


