.App {
  text-align: center;
}
 .DecksAligned{
   display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
   margin: 15px;
   //align-items: center;
   //justify-content: center;
   background-color: rgb(9, 27, 6);
 }


